= f.hidden_field :card_token
= f.hidden_field :card_brand
= f.hidden_field :card_last4
= f.hidden_field :billingaddress_line1
= f.hidden_field :billingaddress_line2
= f.hidden_field :billingaddress_city
= f.hidden_field :billingaddress_country
= f.hidden_field :billingaddress_state
= f.hidden_field :billingaddress_zip

