- if params[:review].present?
  = f.hidden_field :billingaddress_country
  = f.hidden_field :billingaddress_line1
  = f.hidden_field :billingaddress_line2
  = f.hidden_field :billingaddress_city
  = f.hidden_field :billingaddress_state
  = f.hidden_field :billingaddress_zip
  = f.hidden_field :billing_coupon