= render 'menu'
.col-lg-9.col-md-8.help_content
  %h3.pull-right Getting Started
  %h4 The Basics >
  %h2 Receiving Reports
  %p Upon completion of all mandatory fields in the checklist the assigned reporter will submit their report to the administrator/manager.
  %div{style:"border: 1px solid;padding: 10px;"}
    %span{style: "font-weight: 800;font-size: 150%"} Notification of New Report
    %br
    When a new report has been submitted it will be made available to view by the administrator/manager. Reports may be accessed from the following locations:
    %ul{style: "list-style: none;"}
      %li
        %br
        %span{style: "font-weight: 800;"} Main Navigation Menu
        %ul{style: "list-style: none;"}
          %li
            %i Indicators
            %ul{style: "list-style: none;"}
              %li
                The number of new unopened reports will appear within the “Reports” tab in the main navigation.
                = image_tag 'tenant/help/manager/15_Receiving Reports Nav.png'
          %li
            %i How to get there
            %ul{style: "list-style: none;"}
              %li
                Either:
                %ul{style: "list-style: none;"}
                  %li
                    Select the “Reports” tab link to go to the “Reports”.
                  %li
                    Hover over the “Reports” tab and select the “All Reports” tab from the resulting drop down menu.
                    = image_tag 'tenant/help/manager/15_Receiving Reports Nav drop down.png'
              %li
                From the reports page, select a new report from the Reports Table. New reports are signified by this icon
                = image_tag 'tenant/help/manager/15_Receiving Reports Status.png'
              %li Open the report to view, approve and submit to client.
      %li
        %br
        %span{style: "font-weight: 800;"} Dashboard
        %ul{style: "list-style: none;"}
          %li
            %i Indicators
            %ul{style: "list-style: none;"}
              %li
                New reports are highlighted in bold text within the “Latest Reports” section of the Dashboard.
                = image_tag 'tenant/help/manager/15_Receiving Reports Dashboard.png'
          %li
            %i How to get there
            %ul{style: "list-style: none;"}
              %li
                Select the related “View” icon.
              %li
                From the reports page, select a new report from the Reports Table. New reports are signified by this icon
                = image_tag 'tenant/help/manager/15_Receiving Reports Status.png'
              %li Open the report to view, approve and submit to client.
