- page_title = 'Report Details'
= tenant_page_title page_title

%h1= page_title
.row
  = render partial: 'control_buttons'
.row
  .col-lg-6
    .panel.panel-default
      .panel-heading
        %h3.panel-title Details
      .panel-body.striped
        .row.col-sm-6.col-md-12
          %label.col-sm-6.col-md-4.control-label Report ID
          .col-sm-6.col-md-8
            %p.form-control-static.pull-right= @resource.id
        .row.col-sm-6.col-md-12
          %label.col-sm-6.col-md-4.control-label Site
          .col-sm-6.col-md-8
            %p.form-control-static.pull-right= @resource.qrid.site.name
        .row.col-sm-6.col-md-12
          %label.col-sm-6.col-md-4.control-label QRID
          .col-sm-6.col-md-8
            %p.form-control-static.pull-right= @resource.qrid.name
        .row.col-sm-6.col-md-12
          %label.col-sm-6.col-md-4.control-label Time of Submission
          .col-sm-6.col-md-8
            %p.form-control-static.pull-right= @resource.submitted_at
  .col-lg-6#report_map
    .panel.panel-default
      .panel-heading
        %h3.panel-title Location
      .panel-body
        %input#tenant_site_latitude{type: :hidden, value: @resource.qrid.site.latitude}
        %input#tenant_site_longitude{type: :hidden, value: @resource.qrid.site.longitude}
        %input#tenant_site_image{type: :hidden, value: image_path('tenant/mapIcon-Default.png')}
        #map_site.no-print{style: 'width:100%; height:400px'}
        #image_map.print-only{style: 'width:100%; height: 300px'}
          %img{src: "https://maps.googleapis.com/maps/api/staticmap?size=430x300&zoom=14&markers=icon:http://goo.gl/d1I5ya%7C#{@resource.qrid.site.latitude},#{@resource.qrid.site.longitude}&sensor=false"}
        .row.col-lg-offset-1.col-lg-10#report_location
          %label.col-lg-3 Latitude
          .col-lg-3
            %p.form-control-static= @resource.qrid.site.latitude
          %label.col-lg-3 Longitude
          .col-lg-3
            %p.form-control-static= @resource.qrid.site.longitude
.row
  .col-lg-12
    .panel.panel-default#report_photos
      .panel-heading
        %h3.panel-title Photos from the report
      .panel-body
        = render 'photos'

.row
  .col-lg-12
    .panel.panel-default
      .panel-heading
        %h3.panel-title Summary
      .panel-body
        %ul#report_qrid.media-list
          - if @resource.report_tasks.count == 0
            %li.media
              .media-body
                %p{style: 'opacity: 0.8; text-indent: 24px;'} There are no checklist items for this report
          - else
            - root_nodes = nil
            - if @resource.is_permatask_report
              - root_nodes = Tenant::Permatask.roots.joins(:qrids).where(tenant_qrids: {id: @resource.qrid.id})
            - else
              - root_nodes = Tenant::Task.roots.where(qrid_id: @resource.qrid.id)
            - root_nodes.each do |tsk|

              - if @resource.report_tasks.where(task_id: tsk.descendants.pluck(:id)).count > 0
                
                %li.media
                  .media-body
                    %h4.media-heading{class:"#{tsk.task_type}"}= tsk.name

                    - tsk.children.each do |child|
                      = render partial: 'tenant/reports/checklist_item', locals: { tsk: child }
        
        - unless @resource.comments.empty? || ( !(Admin::Tenant.cached_find_by_host(request.host).try(:allow_clients_view_comments)) and (current_user.role?('Client')||((!current_user.role?('Client'))&&controller_name =='c_reports')))
          %br{style: 'page-break-after:always; page-break-inside: avoid;'}
          %dl
            %dt General Comments
            %dd= @resource.comments

= render 'notes'
