= form_for :admin_tenant, method: :post, url: signup_url, html: { role: 'form' } do |f|
  .jumbotron{style:'padding-top:10px;'}
    .row
      .col-lg-12
        %h1 Provide Your Details      
        %fieldset#user-details
          %input{name: 'admin_tenant[first_name]', type: 'text', placeholder: 'First Name'}
          %input{name: 'admin_tenant[last_name]', type: 'text', placeholder: 'Last Name'}
          = f.text_field :company_name, {:placeholder => 'Company Name'}
          = f.text_field :company_website, {:placeholder => 'Company Website'}
        
        %fieldset#user-message
          .row
            .col-lg-4
              = f.text_field :phone, {:placeholder => 'ext.'}
            .col-lg-8.padding_l_n
              = f.text_field :phone_ext, {:placeholder => 'Contact Phone Number'}
          = f.text_field :admin_email, {:placeholder => 'Admin Email'}
          = f.text_field :subdomain, {:placeholder => 'Sub Domain'}
          = f.submit name: 'submit', type: 'submit', value: 'Submit'