<html>
<body>
  The contact form on qridithomewatch.com was submitted.<br>
  <br>
  Name : <%= @resource.name %><br>
  Email : <%= @resource.email %><br>
  Company : <%= @resource.company %>  <br>
  Zip : <%= @resource.zip %><br>
  Source : <%= @resource.source %><br>
  Message: <br>
  <%= @resource.message %><br>
</body>
</html>
