%footer
  .container
    %ul
      %li.active
        = link_to("Home","index",:title=>"Home")
      %li
        = link_to("Benefits","features",:title=>"Benefits")
      %li
        = link_to("Technology","technology",:title=>"Technology")          
      %li
        = link_to("Pricing","purchase",:title=>"Pricing")
      %li
        = link_to("Contact","contact",:title=>"Contact") 
  .col-lg-12
    %p &copy; Quick Report Systems. All rights reserved
