- page_title = @assignee_id ? 'My Schedule' : 'Schedule'
= tenant_page_title page_title

.pull-right.hidden-print{style: 'display: inline-block;margin-top:25px;'}
  %div{style:'display: inline-block;margin: 0 10px;'}
    Assigned
    %br
    %div.text-center{style:"width:30px;height:20px;background-color:#009659;border-radius: 5px 5px;margin-right:auto;margin-left:auto;"}
  %div{style:'display: inline-block;margin: 0 10px;'}
    in Progress
    %br
    %div.text-center{style:"width:30px;height:20px;background-color:#5866B1;border-radius: 5px 5px;margin-right:auto;margin-left:auto;"}
  %div{style:'display: inline-block;margin: 0 10px;'}
    Complete
    %br
    %div.text-center{style:"width:30px;height:20px;background-color:#9E9E9E;border-radius: 5px 5px;margin-right:auto;margin-left:auto;"}
.visible-print.pull-right="Week of #{(Time.now.beginning_of_week(:sunday)).beginning_of_day.strftime('%b %d')} To #{(Time.now.beginning_of_week(:sunday).beginning_of_day+7.day).strftime('%b %d')}"
%h1= page_title
-unless current_user.role?(:reporter)
  %p.hidden-print Click a time slot to assign a QRID
#calendar.hidden-sm.hidden-xs.hidden-print{style: 'min-height: 400px', data: {events_url: url_for(controller: controller_name, action: :index), assignee_id: params[:assignee_id]}}
= render partial: "mobile_cal"
%br
#timezone{style: 'color:#999;'}
